body
{
margin:0 auto;
}
#header
{
background-image:url("logo.png");
height:105px;
text-align:center;
vertical-align:middle;
}
#header h1
{
color:white;
font-family:Century Gothic;
font-size:6em;
font-weight:bold;
}
#nav_bar
{
height:50px;
background-image:url("logo.png");
}
#menu_list
{
list-style-type:none;
float:right;
}
#menu_list a
{
font-size:2em;
color:white;
font-family:Century Gothic;
}
#menu_list li :hover
{
background-color:#000032;
}
.active
{
background-color:#000032;
}
#content{
height:450px;
}
#content_main
{
height:400px;
}
#sidebar
{
height:400px;
}
#login_top
{
padding-top:7px;
margin-top:100px;
height:50px;
color:white;
text-align:center;
vertical-align:middle;
background-color:#000032;
font-family:Century Gothic;
font-size:2em;
font-weight:bold;
}
#login-form
{
margin-top:10px;
}
#login_bot
{
padding-top:10px;
background-color:#000032;
height:57px;
text-align:center;
vertical-align:middle;
}
#login_bot a
{
color:white;
text-decoration:none;}
#footer
{
margin-top:0;
color:white;
display:inline;
text-align:center;
vertical-align:middle;
height:100px;
background-image:url("logo.png");
}
#form_reg
{
margin-top:20px;
}
#reg_table
{
line-height:2;
padding:5px;
border-spacing:25px;
border-collapse: collapse;
}
#left_bar
{
border:2px solid white;
height:450px;
background-image:url("logo.png");
}
#left_list li
{
width:100%;
}
#left_list
{
padding:0px;
margin:auto;
text-align:center;
line-height:3;
list-style-type:none;
}
#left_list a
{
text-decoration:none;
color:white;
font-family:Century Gothic;
font-size:1.5em;
}
#left_list li:hover
{
background-color:#000032;
}
#search_form
{
margin-top:40px;
}
#content_form
{
height:400px;
}
#admin_option
{
line-height:3;
list-style-type:none;
}
#slides
{
height:400px;
margin-top:40px;
}
#changepassform
{
text-align:center;
margin-top:20px;
}
#content_reg
{
height:600px;
}
#sub
{
margin-left:200px;
}
#reg-form
{
margin-top:10px;
}
#content ul
{
list-style-type:none;
}
#content ul a
{
text-decoration:none;
font-size:2em;
}
#contentgallery
{
height:510px;
}
#appo_form
{
margin-top:25px;
}
#content_maind
{
height:600px;
overflow:scroll;
}
#prescription
{
color:white;
text-align:center;
margin-top:80px;
margin-left:100px;
border:2px;
background-image:url("logo.png");
}
#prescription thead
{
text-align:center;
}
#left_bard
{
border:2px solid white;
background-image:url("logo.png");
height:600px;
}
#subd
{
margin-top:10px;
margin-left:100px;
}
#pat_form
{
margin-top:10px;
}
#btn
{
margin-left:100px;
margin-top:5px;
}
#msg
{
margin-left:200px;
margin-top:200px;
}
#appoint_form
{
margin-top:10px;
}
#appotable  td
{
padding:15px;
font-size:1.5em;
font-weight:bold;
}